body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    place-items: center;
}

main header {
    background-color: yellow;
}

main section {
    background-color: red;
    width: 80%;
}

main footer {
    background-color: blue;
}
