body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0;
    font-size: 0.8rem;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #ffe;
    height: 100vh;
}

main header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main header h1 {
    margin: 0;
}
main header nav {
    display: flex;
    gap: 1rem;
}
main header nav a {
    transition: all 0.8s;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
main header nav a:hover {
    color: white;
    background-color: blue;
}

main section {
    padding: 1rem;
    background-color: white;
    flex-grow: 1;
    display: grid;
    place-items: center;

    p {
        margin: 0;
        font-size: 7em;
        font-weight: lighter;
        display: grid;
        place-items: center;

        img {
            width: 80%;
            display: block;
            transform: scaleX(1);
            filter: saturate(0);
            transition: all 0.5s;

            &:hover {
                transform: scaleX(-1);
                filter: saturate(1);
            }
        }
    }
}

main footer {
    text-align: right;
    padding: 0 0.5rem;
    font-size: 0.7rem;
}
